---
name: Prep. Docker environment
description: |
  Prepare the environment for interaction with Docker
inputs:
  vendor:
    description: The vendor to communicate with (azure, digitalocean, scaleway)
    required: true
  image:
    description: Image name (fallback to repository name)
    required: false
  variant-path:
    description: Variant path
    required: false
  k8s-labels:
    description: List of labels to rollout (comma separated)
    required: false
  # Vendor: Azure
  azure-user:
    description: Azure container registry user
    required: false
  azure-token:
    description: Azure container registry token
    required: false
  # Vendor: DigitalOcean
  digitalocean-user:
    description: DigitalOcean user email
    required: false
  digitalocean-token:
    description: DigitalOcean API token
    required: false
  # Vendor: Scaleway
  scaleway-secret-key:
    description: Scaleway API key secret
    required: false
outputs:
  image:
    description: Docker image name
    value: ${{ steps.build.outputs.image }}
  image-suffix:
    description: Docker image name suffix
    value: ${{ steps.build.outputs.image_suffix }}
  registry-username:
    description: Container registry username
    value: ${{ steps.build.outputs.registry_username }}
  registry-password:
    description: Container registry username
    value: ${{ steps.build.outputs.registry_password }}
  rollout-labels:
    description: Rollout labels
    value: ${{ steps.build.outputs.rollout_labels }}

runs:
  using: composite
  steps:
    - name: Calculate values
      shell: bash
      id: build
      run: |
        echo "image=`basename ${{ inputs.image || github.repository }}`" >> "$GITHUB_OUTPUT"

        if [ -z "${{ inputs.variant-path }}" ]; then
          echo "image_suffix=" >> "$GITHUB_OUTPUT"
          echo "rollout_labels=${{ inputs.k8s-labels }}" >> "$GITHUB_OUTPUT"
        else
          labels=(${{ inputs.k8s-labels }} variant=${{ inputs.variant-path }})
          echo "image_suffix=-${{ inputs.variant-path }}" >> "$GITHUB_OUTPUT"
          echo "rollout_labels=$(IFS=,;echo "${labels[*]}")" >> "$GITHUB_OUTPUT"
        fi

        case "${{ inputs.vendor }}" in
          azure)
            echo "registry_username=${{ inputs.azure-user }}" >> "$GITHUB_OUTPUT"
            echo "registry_password=${{ inputs.azure-token }}" >> "$GITHUB_OUTPUT"
            ;;
          digitalocean)
            echo "registry_username=${{ inputs.digitalocean-user }}" >> "$GITHUB_OUTPUT"
            echo "registry_password=${{ inputs.digitalocean-token }}" >> "$GITHUB_OUTPUT"
            ;;
          scaleway)
            echo "registry_username=nologin" >> "$GITHUB_OUTPUT"
            echo "registry_password=${{ inputs.scaleway-secret-key }}" >> "$GITHUB_OUTPUT"
            ;;
        esac
