---
name: K8S Apply
description: Apply config changes for the given path
inputs:
  vendor:
    description: The vendor to communicate with (azure, digitalocean, scaleway)
    required: true
  cluster-id:
    description: Target cluster ID
    required: true
  checkout-path:
    description: Folder to checkout (defaults to k8s)
    required: false
    default: k8s
  config-path:
    description: Path to configuration
    required: true
  github-access-token:
    description: GitHub access token (GITHUB_TOKEN)
    required: true
  # Vendor: Azure
  azure-client-id:
    description: Azure client ID for login with an Azure service principal
    required: false
  azure-tenant-id:
    description: Azure tenant ID for login with an Azure service principal
    required: false
  azure-subscription-id:
    description: Azure subscription ID for login with an Azure service principal
    required: false
  azure-resource-group:
    description: Resource group name
    required: false
  # Vendor: DigitalOcean
  digitalocean-api-token:
    description: DigitalOcean API token
    required: false
  # Vendor: Scaleway
  scaleway-organization-id:
    description: Scaleway organization ID
    required: false
  scaleway-project-id:
    description: Scaleway project ID
    required: false
  scaleway-region:
    description: Scaleway deployment region (such as nl-ams)
    required: false
  scaleway-access-key:
    description: Scaleway API key ID
    required: false
  scaleway-secret-key:
    description: Scaleway API key secret
    required: false

runs:
  using: composite
  steps:
    # Vendor setup
    - uses: wisemen-digital/devops-github-actions/.github/actions/infra/k8s/setup@main
      with:
        vendor: ${{ inputs.vendor }}
        cluster-id: ${{ inputs.cluster-id }}
        # Vendor: azure
        azure-client-id: ${{ inputs.azure-client-id }}
        azure-tenant-id: ${{ inputs.azure-tenant-id }}
        azure-subscription-id: ${{ inputs.azure-subscription-id }}
        azure-resource-group: ${{ inputs.azure-resource-group }}
        # Vendor: digitalocean
        digitalocean-api-token: ${{ inputs.digitalocean-api-token }}
        # Vendor: scaleway
        scaleway-organization-id: ${{ inputs.scaleway-organization-id }}
        scaleway-project-id: ${{ inputs.scaleway-project-id }}
        scaleway-region: ${{ inputs.scaleway-region }}
        scaleway-access-key: ${{ inputs.scaleway-access-key }}
        scaleway-secret-key: ${{ inputs.scaleway-secret-key }}

    # Get & apply config
    - name: Checkout
      uses: actions/checkout@v4
      with:
        sparse-checkout: |
          ${{ inputs.checkout-path }}
    - name: Ensure access to private repositories
      shell: bash
      run: |
        AUTH="x-access-token:${{ inputs.github-access-token }}"
        git config --global url."https://${AUTH}@github.com/".insteadOf "git@github.com:"
    - name: Apply config
      shell: bash
      run: kubectl apply -k ${{ inputs.config-path }}
