---
name: Validate and Generate Docker Inputs
description: |
  Validate docker workflow inputs, and generate build matrix
inputs:
  vendor:
    description: The vendor to communicate with (azure, digitalocean, scaleway)
    required: true
  image-variants:
    description: List of variants to build (folders in monorepo, separated by commas)
    required: false
  # Vendor: Azure
  azure-client-id:
    description: Azure client ID for login with an Azure service principal
    required: false
  azure-tenant-id:
    description: Azure tenant ID for login with an Azure service principal
    required: false
  azure-subscription-id:
    description: Azure subscription ID for login with an Azure service principal
    required: false
  # Vendor: DigitalOcean
  digitalocean-user:
    description: DigitalOcean user email
    required: false
  digitalocean-token:
    description: DigitalOcean API token
    required: false
  # Vendor: Scaleway
  scaleway-access-key:
    description: Scaleway API key ID
    required: false
  scaleway-secret-key:
    description: Scaleway API key secret
    required: false
outputs:
  variants:
    description: Job matrix of docker image variants
    value: ${{ steps.monorepo-matrix.outputs.matrix || steps.normalrepo-matrix.outputs.matrix }}

runs:
  using: composite
  steps:
    # Validate inputs
    - name: Validate inputs
      shell: bash
      run: |
        function validate-required-input {
          if [ -z "$2" ]; then echo "Missing input: $1"; exit 1; fi
        }

        echo "Validating inputs for vendor: ${{ inputs.vendor }}"
        case "${{ inputs.vendor }}" in
          azure)
            validate-required-input 'azure-client-id' '${{ inputs.azure-client-id }}'
            validate-required-input 'azure-tenant-id' '${{ inputs.azure-tenant-id }}'
            validate-required-input 'azure-subscription-id' '${{ inputs.azure-subscription-id }}'
            ;;
          digitalocean)
            validate-required-input 'digitalocean-user' '${{ inputs.digitalocean-user }}'
            validate-required-input 'digitalocean-token' '${{ inputs.digitalocean-token }}'
            ;;
          scaleway)
            validate-required-input 'scaleway-access-key' '${{ inputs.scaleway-access-key }}'
            validate-required-input 'scaleway-secret-key' '${{ inputs.scaleway-secret-key }}'
            ;;
          *)
            echo "Unsupported vendor '${{ inputs.vendor }}'"
            exit 1
            ;;
        esac

    # Generate build matrix
    - name: Checkout
      uses: actions/checkout@v4
      with:
        sparse-checkout: .github
    - name: Monorepo Matrix check
      id: monorepo-matrix
      if: hashFiles('.github/monorepo-rollout-filters.yaml') != ''
      uses: wisemen-digital/devops-ga-changed-paths-filter@main
      with:
        filter-file: .github/monorepo-rollout-filters.yaml
        changes-override: ${{ inputs.image-variants }}
    - name: Normal Repo Fallback
      id: normalrepo-matrix
      if: hashFiles('.github/monorepo-rollout-filters.yaml') == ''
      shell: bash
      run: echo 'matrix=[{"environment":"","path":""}]' >> $GITHUB_OUTPUT;
