---
name: Rollout deployments (Azure)

#
# Check what's changed (via filters, or provide your own list) and roll it out.
#

on:
  workflow_call:
    # Depends on the following vars
    # - AZURE_RESOURCE_GROUP
    # - K8S_CLUSTER_ID
    inputs:
      # Cluster info
      cluster-deployments:
        description: List of deployments to roll out (folders), separated by commas
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        description: Json string for login with an Azure service principal
        required: true
      K8S_MODULES_SECRET:
        description: Token to access github modules repositories
        required: true

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/rollout-to-k8s.yml,line=20::Deprecated workflow, switch to vendor agnostic workflow."

  rollout-to-k8s:
    uses: wisemen-digital/devops-github-actions/.github/workflows/infra-k8s-rollout.yml@main
    with:
      vendor: azure
      cluster-deployments: ${{ inputs.cluster-deployments }}
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      K8S_MODULES_SECRET: ${{ secrets.K8S_MODULES_SECRET }}
