---
name: Build & Test Infrastructure

#
# Generate previews for k8s changes
#

on:
  workflow_call:
    inputs:
      vendor:
        description: Vendor (such as `digitalocean` or `scaleway`)
        type: string
        required: false
    secrets:
      K8S_MODULES_SECRET:
        description: Token to access github modules repositories
        required: false

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: |
          echo "::warning file=.github/workflows/pullrequest-check.yml,line=17::\
          Deprecated workflow, switch to new infra workflow path."

  k8s-preview:
    uses: wisemen-digital/devops-github-actions/.github/workflows/infra-k8s-preview.yml@main
    secrets:
      K8S_MODULES_SECRET: ${{ secrets.K8S_MODULES_SECRET }}
