---
name: Lint Infrastructure

#
# Validate all configuration files
#

on:
  workflow_call:

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/lint.yml,line=12::Deprecated workflow, switch to new infra workflow path."

  lint-infra:
    uses: wisemen-digital/devops-github-actions/.github/workflows/infra-lint.yml@main
