---
name: Promote to environment (Scaleway)

#
# Calculate previous environment, re-tag the image and roll it out.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    # - SCALEWAY_ORGANIZATION_ID
    # - SCALEWAY_PROJECT_ID
    # - SCALEWAY_REGION
    inputs:
      environment-source:
        description: Source environment to deploy FROM (defaults to previous environment)
        type: string
        required: false
      environment-target:
        description: Target environment to deploy TO
        type: string
        required: true
      environment-map:
        description: Environment map (JSON, fallback to default map)
        type: string
        required: false
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to roll out (folders in monorepo, separated by commas)
        type: string
        required: false
      # Legacy parameters
      cluster-deployments:
        description: UNUSED
        required: false
        type: string
      scaleway-container-registry:
        description: UNUSED
        required: false
        type: string
      scaleway-organization-id:
        description: UNUSED
        required: false
        type: string
      scaleway-project-id:
        description: UNUSED
        required: false
        type: string
      scaleway-region:
        description: UNUSED
        required: false
        type: string
      scaleway-cluster-id:
        description: UNUSED
        required: false
        type: string
    secrets:
      SCALEWAY_ACCESS_KEY:
        description: Scaleway API key ID
        required: true
      SCALEWAY_SECRET_KEY:
        description: Scaleway API key secret
        required: true

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: |
          echo "::warning file=.github/workflows/promote-to-environment.yml,line=18::\
          Deprecated workflow, switch to vendor agnostic workflow."

  promote-tag:
    uses: wisemen-digital/devops-github-actions/.github/workflows/docker-promote-to-environment.yml@main
    with:
      vendor: scaleway
      environment-source: ${{ inputs.environment-source }}
      environment-target: ${{ inputs.environment-target }}
      environment-map: ${{ inputs.environment-map }}
      image: ${{ inputs.image }}
      image-variants: ${{ inputs.image-variants }}
    secrets:
      SCALEWAY_ACCESS_KEY: ${{ secrets.SCALEWAY_ACCESS_KEY }}
      SCALEWAY_SECRET_KEY: ${{ secrets.SCALEWAY_SECRET_KEY }}
