---
name: Build & deploy to environment (Scaleway)

#
# Build the docker image, and deploy it to the given environment.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    # - SCALEWAY_ORGANIZATION_ID
    # - SCALEWAY_PROJECT_ID
    # - SCALEWAY_REGION
    inputs:
      environment:
        description: Target environment to deploy to
        type: string
        required: true
      # Legacy parameters
      cluster-deployments:
        description: UNUSED
        required: false
        type: string
      scaleway-container-registry:
        description: UNUSED
        required: false
        type: string
      scaleway-organization-id:
        description: UNUSED
        required: false
        type: string
      scaleway-project-id:
        description: UNUSED
        required: false
        type: string
      scaleway-region:
        description: UNUSED
        required: false
        type: string
      scaleway-cluster-id:
        description: UNUSED
        required: false
        type: string
    secrets:
      SCALEWAY_ACCESS_KEY:
        description: Scaleway API key ID
        required: true
      SCALEWAY_SECRET_KEY:
        description: Scaleway API key secret
        required: true

jobs:
  build-and-deploy:
    name: Build & Deploy to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Docker build & push
        uses: wisemen-digital/devops-ga-docker-build-push@main
        with:
          container-registry: ${{ vars.CONTAINER_REGISTRY_ENDPOINT }}
          container-registry-username: nologin
          container-registry-password: ${{ secrets.SCALEWAY_SECRET_KEY }}
          github-access-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ inputs.environment }}
      - name: Rollout on cluster
        uses: wisemen-digital/devops-ga-k8s-rollout@main
        with:
          vendor: scaleway
          cluster-id: ${{ vars.K8S_CLUSTER_ID }}
          rollout-deployments: ${{ vars.K8S_DEPLOYMENTS }}
          rollout-labels: ${{ vars.K8S_LABELS }}
          rollout-namespace: ${{ vars.K8S_NAMESPACE }}
          scaleway-organization-id: ${{ vars.SCALEWAY_ORGANIZATION_ID }}
          scaleway-project-id: ${{ vars.SCALEWAY_PROJECT_ID }}
          scaleway-region: ${{ vars.SCALEWAY_REGION }}
          scaleway-access-key: ${{ secrets.SCALEWAY_ACCESS_KEY }}
          scaleway-secret-key: ${{ secrets.SCALEWAY_SECRET_KEY }}
