---
name: Build & deploy to environment (Azure)

#
# Build the docker image, and deploy it to the given environment.
#

on:
  workflow_call:
    # Depends on the following vars
    # - AZURE_RESOURCE_GROUP
    # - CONTAINER_PLATFORMS
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    inputs:
      environment:
        description: Target environment to deploy to
        type: string
        required: true
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to build (folders in monorepo, separated by commas)
        type: string
        required: false
    secrets:
      AZURE_CLIENT_ID:
        description: Azure client ID for login with an Azure service principal
        required: false
      AZURE_TENANT_ID:
        description: Azure tenant ID for login with an Azure service principal
        required: false
      AZURE_SUBSCRIPTION_ID:
        description: Azure subscription ID for login with an Azure service principal
        required: false

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/auto-deploy-to-development.yml,line=11::Deprecated workflow, switch to vendor agnostic workflow."

  build-and-deploy:
    uses: wisemen-digital/devops-github-actions/.github/workflows/docker-build-and-deploy.yml@main
    with:
      vendor: azure
      environment: ${{ inputs.environment }}
      image: ${{ inputs.image }}
      image-variants: ${{ inputs.image-variants }}
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
