---
name: Build & deploy to environment (DigitalOcean)

#
# Build the docker image, and deploy it to the given environment.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_PLATFORMS
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    inputs:
      environment:
        description: Target environment to deploy to
        type: string
        required: true
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to build (folders in monorepo, separated by commas)
        type: string
        required: false
    secrets:
      DIGITALOCEAN_API_USER:
        description: DigitalOcean user email
        required: true
      DIGITALOCEAN_API_TOKEN:
        description: DigitalOcean API token
        required: true

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/auto-deploy-to-development.yml,line=11::Deprecated workflow, switch to vendor agnostic workflow."

  build-and-deploy:
    uses: wisemen-digital/devops-github-actions/.github/workflows/docker-build-and-deploy.yml@main
    with:
      vendor: digitalocean
      environment: ${{ inputs.environment }}
      image: ${{ inputs.image }}
      image-variants: ${{ inputs.image-variants }}
    secrets: inherit
