---
name: Build & deploy to environment (Scaleway)

#
# Build the docker image, and deploy it to the given environment.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_PLATFORMS
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    # - SCALEWAY_ORGANIZATION_ID
    # - SCALEWAY_PROJECT_ID
    # - SCALEWAY_REGION
    inputs:
      environment:
        description: Target environment to deploy to
        type: string
        required: true
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to build (folders in monorepo, separated by commas)
        type: string
        required: false
      # Legacy parameters
      cluster-deployments:
        description: UNUSED
        required: false
        type: string
      scaleway-container-registry:
        description: UNUSED
        required: false
        type: string
      scaleway-organization-id:
        description: UNUSED
        required: false
        type: string
      scaleway-project-id:
        description: UNUSED
        required: false
        type: string
      scaleway-region:
        description: UNUSED
        required: false
        type: string
      scaleway-cluster-id:
        description: UNUSED
        required: false
        type: string
    secrets:
      SCALEWAY_ACCESS_KEY:
        description: Scaleway API key ID
        required: true
      SCALEWAY_SECRET_KEY:
        description: Scaleway API key secret
        required: true

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/auto-deploy-to-development.yml,line=11::Deprecated workflow, switch to vendor agnostic workflow."

  build-and-deploy:
    uses: wisemen-digital/devops-github-actions/.github/workflows/docker-build-and-deploy.yml@main
    with:
      vendor: scaleway
      environment: ${{ inputs.environment }}
      image: ${{ inputs.image }}
      image-variants: ${{ inputs.image-variants }}
    secrets:
      SCALEWAY_ACCESS_KEY: ${{ secrets.SCALEWAY_ACCESS_KEY }}
      SCALEWAY_SECRET_KEY: ${{ secrets.SCALEWAY_SECRET_KEY }}
