---
name: Build & deploy to environment (DigitalOcean)

#
# Build the docker image, and deploy it to the given environment.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_PLATFORMS
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    inputs:
      environment:
        description: Target environment to deploy to
        type: string
        required: true
    secrets:
      DIGITALOCEAN_API_USER:
        description: DigitalOcean user email
        required: true
      DIGITALOCEAN_API_TOKEN:
        description: DigitalOcean API token
        required: true

jobs:
  build-and-deploy:
    name: Build & Deploy to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Docker build & push
        uses: wisemen-digital/devops-ga-docker-build-push@main
        with:
          container-registry: ${{ vars.CONTAINER_REGISTRY_ENDPOINT }}
          container-registry-username: ${{ secrets.DIGITALOCEAN_API_USER }}
          container-registry-password: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
          github-access-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ inputs.environment }}
          platforms: ${{ vars.CONTAINER_PLATFORMS }}
      - name: Rollout on cluster
        uses: wisemen-digital/devops-ga-k8s-rollout@main
        with:
          vendor: digitalocean
          cluster-id: ${{ vars.K8S_CLUSTER_ID }}
          rollout-deployments: ${{ vars.K8S_DEPLOYMENTS }}
          rollout-labels: ${{ vars.K8S_LABELS }}
          rollout-namespace: ${{ vars.K8S_NAMESPACE }}
          digitalocean-api-token: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
