---
name: Promote to environment (DigitalOcean)

#
# Calculate previous environment, re-tag the image and roll it out.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    inputs:
      environment-source:
        description: Source environment to deploy FROM (defaults to previous environment)
        type: string
        required: false
      environment-target:
        description: Target environment to deploy TO
        type: string
        required: true
      environment-map:
        description: Environment map (JSON, fallback to default map)
        type: string
        required: false
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to roll out (folders in monorepo, separated by commas)
        type: string
        required: false
    secrets:
      DIGITALOCEAN_API_USER:
        description: DigitalOcean user email
        required: true
      DIGITALOCEAN_API_TOKEN:
        description: DigitalOcean API token
        required: true

jobs:
  generate-matrix:
    name: Generate job matrices
    runs-on: ubuntu-latest
    outputs:
      variants: ${{ steps.monorepo.outputs.matrix || steps.normalrepo.outputs.matrix }}
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/promote-to-enviroment.yml,line=18::Deprecated workflow, switch to vendor agnostic workflow."
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Monorepo Matrix check
        id: monorepo
        if: hashFiles('.github/monorepo-rollout-filters.yaml') != ''
        uses: wisemen-digital/devops-ga-changed-paths-filter@main
        with:
          filter-file: .github/monorepo-rollout-filters.yaml
          changes-override: ${{ inputs.image-variants }}
      - name: Normal Repo Fallback
        id: normalrepo
        if: hashFiles('.github/monorepo-rollout-filters.yaml') == ''
        run: echo 'matrix=[{"environment":"","path":""}]' >> $GITHUB_OUTPUT;

  promote-tag:
    name: Promote ${{ matrix.variant.path }} to ${{ inputs.environment-target }}
    needs: [generate-matrix]
    if: ${{ needs.generate-matrix.outputs.variants != '[]' }}
    strategy:
      matrix:
        variant: ${{ fromJson(needs.generate-matrix.outputs.variants) }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-target }}
    steps:
      - name: Prepare environment
        run: |
          echo "image=`basename ${{ inputs.image || github.repository }}`" >> "$GITHUB_ENV"
          if [ -z "${{ matrix.variant.path }}" ]; then
            echo "image_suffix=" >> "$GITHUB_ENV"
            echo "rollout_labels=${{ vars.K8S_LABELS }}" >> "$GITHUB_ENV"
          else
            labels=(${{ vars.K8S_LABELS }} variant=${{ matrix.variant.path }})
            echo "image_suffix=-${{ matrix.variant.path }}" >> "$GITHUB_ENV"
            echo "rollout_labels=$(IFS=,;echo "${labels[*]}")" >> "$GITHUB_ENV"
          fi
      - name: Re-tag image
        uses: wisemen-digital/devops-ga-docker-promote-tag@main
        with:
          container-registry: ${{ vars.CONTAINER_REGISTRY_ENDPOINT }}
          container-registry-username: ${{ secrets.DIGITALOCEAN_API_USER }}
          container-registry-password: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
          image: ${{ env.image }}${{ env.image_suffix }}
          source-tag: ${{ inputs.environment-source }}
          target-tag: ${{ inputs.environment-target }}
          tag-map: ${{ inputs.environment-map }}
      - name: Rollout on cluster
        uses: wisemen-digital/devops-ga-k8s-rollout@main
        with:
          vendor: digitalocean
          cluster-id: ${{ vars.K8S_CLUSTER_ID }}
          rollout-deployments: ${{ vars.K8S_DEPLOYMENTS }}
          rollout-labels: ${{ env.rollout_labels }}
          rollout-namespace: ${{ vars.K8S_NAMESPACE }}
          digitalocean-api-token: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
