---
name: Promote to environment (Azure)

#
# Calculate previous environment, re-tag the image and roll it out.
#

on:
  workflow_call:
    # Depends on the following vars
    # - CONTAINER_REGISTRY_ENDPOINT
    # - K8S_CLUSTER_ID
    # - K8S_DEPLOYMENTS
    # - K8S_LABELS
    # - K8S_NAMESPACE
    inputs:
      environment-source:
        description: Source environment to deploy FROM (defaults to previous environment)
        type: string
        required: false
      environment-target:
        description: Target environment to deploy TO
        type: string
        required: true
      environment-map:
        description: Environment map (JSON, fallback to default map)
        type: string
        required: false
      image:
        description: Image name (fallback to repository name)
        type: string
        required: false
      image-variants:
        description: List of variants to roll out (folders in monorepo, separated by commas)
        type: string
        required: false
    secrets:
      AZURE_CLIENT_ID:
        description: Azure client ID for login with an Azure service principal
        required: false
      AZURE_TENANT_ID:
        description: Azure tenant ID for login with an Azure service principal
        required: false
      AZURE_SUBSCRIPTION_ID:
        description: Azure subscription ID for login with an Azure service principal
        required: false
      AZURE_CR_USER:
        description: Azure container registry user
        required: true
      AZURE_CR_TOKEN:
        description: Azure container registry token
        required: true

jobs:
  deprecation-warning:
    name: Deprecation message
    runs-on: ubuntu-latest
    steps:
      - name: Deprecation message
        run: echo "::warning file=.github/workflows/promote-to-environment.yml,line=18::Deprecated workflow, switch to vendor agnostic workflow."

  promote-tag:
    uses: wisemen-digital/devops-github-actions/.github/workflows/docker-promote-to-environment.yml@main
    with:
      vendor: azure
      environment-source: ${{ inputs.environment-source }}
      environment-target: ${{ inputs.environment-target }}
      environment-map: ${{ inputs.environment-map }}
      image: ${{ inputs.image }}
      image-variants: ${{ inputs.image-variants }}
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_CR_USER: ${{ secrets.AZURE_CR_USER }}
      AZURE_CR_TOKEN: ${{ secrets.AZURE_CR_TOKEN }}
